.profile__subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  /* or 22px*/
  color: #FFFFFF;
  max-height: 18px;
}

@media screen and (max-width: 1150px) {
  .profile__subtitle {}
}

@media screen and (max-width: 980px) {
  .profile__subtitle {
    margin-top: 14px;
  }
}