.profile__title {
  margin-top: 0;
  margin-bottom: 4.76%;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  /* or 114% */
  color: #FFFFFF;
  display: inline-block;
  width: 87.5%;
  max-height: 39px;
}

@media screen and (max-width: 1150px) {
  .profile__title {
    display: inline;
  }
}

@media screen and (max-width: 980px) {
  .profile__title {}
}